body{
    background-color: gray;
}
header{
    background-color: black;
    height: 200px;
    width: 500px;
    margin-top: 50px;
    margin-left: 200px;
}
section{
    background-color: blue;
    height: 200px;
    width: 500px;
    margin-top: 10px;
    margin-left: 200px;
}