body{
    background-image: url(https://hoodburger.files.wordpress.com/2012/08/pie-and-burger-outside.jpg);
    background-size: cover;
}
header{
    height: 155px;
    width: 500px;
    margin-top: 10px;
    margin-left: 170px; 
}
img{
    margin-top: 10px;
    height: 150px;
    width: 600px;
    margin-left: 20px;
}
#img1{
    margin-top: 10px;
    height: 200px;
    width: 400px;
    margin-left: 20px;

}
#section1{
    border:double 8px black;
    background-color: rgba(0, 0, 255, 0.3);
    background: rgba(0, 0, 255, 0.3);
    color: black;
    height: 1000px;
    width: 1000px;
    margin-top: 10px;
    margin-left: 170px;    
}
#article1{
    background-color: lightgrey;
    height: 700px;
    width: 800px;
    margin-left: 100px;   
}
#h1{
    font-size: 30px;
    text-align: center;
    color:black;
    font-family: 'Montserrat', sans-serif;
}
p{
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
#in1{
    color: rgb(0,0,158);  
    width:110px;
    height:40px;
    border:1px solid black;
    background-color:rgb(126,126,126);
    box-shadow: 3px 3px 3px 3px;
    display:inline-block;
    margin-right:8px;
}
.in
{
  color: rgb(0,0,158);  
  width:100px;
  height:40px;
  border:1px solid black;
  background-color:rgb(126,126,126);
  box-shadow: 3px 3px 3px 3px;
  display:inline-block;
  margin-right:8px;
}

.nav
{
  text-shadow: 1px 2px 1px black; 
  letter-spacing:1px;
  text-align:center;
  width:90%;
}
a
{ 
  padding:8px 12px;
  display:block;
  color:rgb(0,0,158);
  text-decoration:none;
}
li:hover
{
  font-size:20px;
}